.adminimage {
    margin-top: 50px;
    height: 30%;
  }
  
  .adminprofileimage {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 8px;
  }
  
  .admindata {
    display: flex;
    margin-bottom: 180px;
  }
  
  .admindataleft {
    margin-top: 30px;
    margin-left: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .admindataright {
    margin-top: 30px;
    margin-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .adminlabel {
    display: flex;
    margin: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .adminlabelp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
  }
  
  .adminprofileupdate {
    text-decoration: none;
    margin-top: 70px;
    margin-left: 270px;
    background-color: rgb(53, 53, 212);
    color: white;
    height: 40px;
    width: 200px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .adminprofileupdatelink {
    color: white;
    padding: 7px;
    text-decoration: none;
  }